
<!--1st screen-->

<ion-view title="Dashboard" id="page2">
  <!--<ion-content padding="true" class="has-header">-->
  <ion-content >

    <div id="parentDiv">
      <div id="childDiv"></div><div id="childDiv"></div><div id="childDiv"></div>
    </div>

    <div class="item item-divider">
           this is a line chart
    </div>

    <div class="item item-text-wrap">
      <canvas id="bar" class="chart chart-bar"
              chart-data="data" chart-labels="labels" legend="true" series="series" options="{showToolTips: false}"> chart-series="series"
      </canvas>
    </div>



    <a ng-click="vm.incomesPage()" id="kCoach-button1" class="button button-calm button-block">INCOMES</a>
    <a ng-click="vm.expensesPage()" id="kCoach-button1" class="button button-calm button-block">EXPENSES</a>

  </ion-content>
</ion-view>
